xsd/custom_wfs_1.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Chris Van Lith (B3Partners BV) -->
<xsd:schema xmlns:wfs="http://www.opengis.net/wfs" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ogc="http://www.opengis.net/ogc" targetNamespace="http://www.opengis.net/wfs" elementFormDefault="qualified" version="1.1.0">
	<xsd:import namespace="http://www.opengis.net/ogc" schemaLocation="filter.xsd"/>
	<xsd:complexType name="BaseRequestType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>
            XML encoded WFS operation request base, for all operations
            except GetCapabilities.
         </xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="service" type="xsd:string" use="optional" default="WFS">
			<xsd:annotation>
				<xsd:documentation>
              The service attribute is included to support service 
              endpoints that implement more than one OGC service.
              For example, a single CGI that implements WMS, WFS
              and WCS services. 
              The endpoint can inspect the value of this attribute 
              to figure out which service should process the request.
              The value WFS indicates that a web feature service should
              process the request.
              This parameter is somewhat redundant in the XML encoding
              since the request namespace can be used to determine
              which service should process any give request.  For example,
              wfs:GetCapabilities and easily be distinguished from
              wcs:GetCapabilities using the namespaces.
           </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="version" type="xsd:string" use="optional" default="1.1.0">
			<xsd:annotation>
				<xsd:documentation>
               The version attribute is used to indicate the version of the
               WFS specification that a request conforms to.  All requests in
               this schema conform to V1.1 of the WFS specification.
               For WFS implementations that support more than one version of
               a WFS sepcification ... if the version attribute is not 
               specified then the service should assume that the request
               conforms to greatest available specification version.
           </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="handle" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>
               The handle attribute allows a client application
               to assign a client-generated request identifier
               to a WFS request.  The handle is included to
               facilitate error reporting.  A WFS may report the
               handle in an exception report to identify the
               offending request or action.  If the handle is not
               present, then the WFS may employ other means to
               localize the error (e.g. line numbers).
            </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DescribeFeatureTypeType">
		<xsd:annotation>
			<xsd:documentation>
            The DescribeFeatureType operation allows a client application
            to request that a Web Feature Service describe one or more
            feature types.   A Web Feature Service must be able to generate
            feature descriptions as valid GML3 application schemas.

            The schemas generated by the DescribeFeatureType operation can
            be used by a client application to validate the output.

            Feature instances within the WFS interface must be specified
            using GML3.  The schema of feature instances specified within
            the WFS interface must validate against the feature schemas 
            generated by the DescribeFeatureType request.
         </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="wfs:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="TypeName" type="xsd:QName" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
                        The TypeName element is used to enumerate the
                        feature types to be described.  If no TypeName
                        elements are specified then all features should
                        be described.  The name must be a valid type
                        that belongs to the feature content as defined
                        by the GML Application Schema.
                     </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="outputFormat" type="xsd:string" use="optional" default="text/xml; subtype=gml/3.1.1">
					<xsd:annotation>
						<xsd:documentation>
                     The outputFormat attribute is used to specify what schema
                     description language should be used to describe features.
                     The default value of 'text/xml; subtype=3.1.1' means that
                     the WFS must generate a GML3 application schema that can
                     be used to validate the GML3 output of a GetFeature
                     request or feature instances specified in Transaction
                     operations.
                     For the purposes of experimentation, vendor extension,
                     or even extensions that serve a specific community of
                     interest, other acceptable output format values may be
                     advertised by a WFS service in the capabilities document.
                     The meaning of such values in not defined in the WFS 
                     specification.  The only proviso is such cases is that
                     clients may safely ignore outputFormat values that do
                     not recognize.
                  </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GetFeature" type="wfs:GetFeatureType">
		<xsd:annotation>
			<xsd:documentation>
            The GetFeature element is used to request that a Web Feature
            Service return feature type instances of one or more feature
            types.
         </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Query" type="wfs:QueryType">
		<xsd:annotation>
			<xsd:documentation>
            The Query element is used to describe a single query.
            One or more Query elements can be specified inside a
            GetFeature element so that multiple queries can be 
            executed in one request.  The output from the various
            queries are combined in a wfs:FeatureCollection element
            to form the response document.
         </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="QueryType">
		<xsd:annotation>
			<xsd:documentation>
            The Query element is of type QueryType.
         </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ogc:Filter" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="handle" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>
               The handle attribute allows a client application
               to assign a client-generated identifier for the 
               Query.  The handle is included to facilitate error
               reporting.  If one Query in a GetFeature request
               causes an exception, a WFS may report the handle
               to indicate which query element failed.  If the a
               handle is not present, the WFS may use other means
               to localize the error (e.g. line numbers).
            </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="typeName" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>
              The typeName attribute is a list of one or more
              feature type names that indicate which types 
              of feature instances should be included in the
              reponse set.  Specifying more than one typename
              indicates that a join operation is being performed.
              All the names in the typeName list must be valid
              types that belong to this query's feature content
              as defined by the GML Application Schema.
           </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="featureVersion" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>
              For systems that implement versioning, the featureVersion
              attribute is used to specify which version of a particular
              feature instance is to be retrieved.  A value of ALL means
              that all versions should be retrieved.  An integer value
              'i', means that the ith version should be retrieve if it
              exists or the most recent version otherwise.
           </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="srsName" type="xsd:anyURI" use="optional">
			<xsd:annotation>
				<xsd:documentation>
              This attribute is used to specify a specific WFS-supported SRS
              that should be used for returned feature geometries.  The value
              may be the WFS StorageSRS value, DefaultRetrievalSRS value, or
              one of AdditionalSRS values.  If no srsName value is supplied,
              then the features will be returned using either the
              DefaultRetrievalSRS, if specified, and StorageSRS otherwise.
              For feature types with no spatial properties, this attribute
              must not be specified or ignored if it is specified.
           </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GetFeatureType">
		<xsd:annotation>
			<xsd:documentation>
            A GetFeature element contains one or more Query elements
            that describe a query operation on one feature type.  In
            response to a GetFeature request, a Web Feature Service
            must be able to generate a GML3 response that validates
            using a schema generated by the DescribeFeatureType request.
            A Web Feature Service may support other possibly non-XML
            (and even binary) output formats as long as those formats
            are advertised in the capabilities document.
         </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="wfs:BaseRequestType">
				<xsd:sequence>
					<xsd:element ref="wfs:Query" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="resultType" type="xsd:string" use="optional" default="results">
					<xsd:annotation>
						<xsd:documentation>
                     The resultType attribute is used to indicate
                     what response a WFS should return to user once
                     a GetFeature request is processed.
                     Possible values are:
                        results - meaning that the full response set
                                  (i.e. all the feature instances) 
                                  should be returned.
                        hits    - meaning that an empty response set
                                  should be returned (i.e. no feature
                                  instances should be returned) but
                                  the "numberOfFeatures" attribute
                                  should be set to the number of feature
                                  instances that would be returned.
                  </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="outputFormat" type="xsd:string" use="optional" default="text/xml; subtype=gml/3.1.1">
					<xsd:annotation>
						<xsd:documentation>
                     The outputFormat attribute is used to specify the output
                     format that the Web Feature Service should generate in
                     response to a GetFeature or GetFeatureWithLock element.
                     The default value of 'text/xml; subtype=gml/3.1.1'
                     indicates that the output is an XML document that
                     conforms to the Geography Markup Language (GML)
                     Implementation Specification V3.1.1.
                     For the purposes of experimentation, vendor extension,
                     or even extensions that serve a specific community of
                     interest, other acceptable output format values may be
                     used to specify other formats as long as those values
                     are advertised in the capabilities document.
                     For example, the value WKB may be used to indicate that a 
                     Well Known Binary format be used to encode the output.
                  </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="maxFeatures" type="xsd:positiveInteger" use="optional">
					<xsd:annotation>
						<xsd:documentation>
                     The maxFeatures attribute is used to specify the maximum
                     number of features that a GetFeature operation should
                     generate (regardless of the actual number of query hits).
                  </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="traverseXlinkDepth" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>
                     This attribute indicates the depth to which nested property
                     XLink linking element locator attribute (href) XLinks are
                     traversed and resolved if possible.  A value of "1"
                     indicates that one linking element locator attribute
                     (href) Xlink will be traversed and the referenced element
                     returned if possible, but nested property XLink linking
                     element locator attribute (href) XLinks in the returned
                     element are not traversed.  A value of "*" indicates that
                     all nested property XLink linking element locator attribute
                     (href) XLinks will be traversed and the referenced elements
                     returned if possible.  The range of valid values for this
                     attribute consists of positive integers plus "*".
                     If this attribute is not specified then no xlinks shall be 
                     resolved and the value of traverseXlinkExpiry attribute (if
                     it specified) may be ignored.
                  </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="traverseXlinkExpiry" type="xsd:positiveInteger" use="optional">
					<xsd:annotation>
						<xsd:documentation>
                     The traverseXlinkExpiry attribute value is specified in
                     minutes.  It indicates how long a Web Feature Service
                     should wait to receive a response to a nested GetGmlObject
                     request.	
                     This attribute is only relevant if a value is specified 
                     for the traverseXlinkDepth attribute.
                  </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DescribeFeatureType" type="wfs:DescribeFeatureTypeType">
		<xsd:annotation>
			<xsd:documentation>
            The DescribeFeatureType element is used to request that a Web
            Feature Service generate a document describing one or more 
            feature types.
         </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
